.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-size: 18px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #5d5b8d;
                &::placeholder {
                    color: rgb(175, 175, 175)
                }
            }
            button {
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            label{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 12px;
                color: #5d5b8d;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }
        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 5px;
        }
    }
}


.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .Sidebar{
            flex: 1;
            background-color: #3e3c61;

            .search{
                border-bottom: 2px solid gray;

                .searchForm {
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }
            }
            .userChat{
                display: flex;
                padding: 10px;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                color:white;

                &:hover {
                    background-color: #2f2d52;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            
        }
        .Chat{
            flex: 2;
        }

        .Navbar {
            display: flex;
            align-items: center;
            background-color: #2f2d52;
            height: 50px;
            padding: 10px;
            justify-content: space-between;
            color: #ddddf7;

            .logo{
                font-weight: bold;
            }
            .user {
                display: flex;
                gap: 10px;

                img {
                    background-color: #ddddf7;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                button {
                    background-color: #5d5b8d;
                    color: #ddddf7;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}
