.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formContainer .formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.formContainer .formWrapper .logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
}

.formContainer .formWrapper .title {
  color: #5d5b8d;
  font-size: 18px;
}

.formContainer .formWrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.formContainer .formWrapper form input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #5d5b8d;
}

.formContainer .formWrapper form input::-webkit-input-placeholder {
  color: #afafaf;
}

.formContainer .formWrapper form input:-ms-input-placeholder {
  color: #afafaf;
}

.formContainer .formWrapper form input::-ms-input-placeholder {
  color: #afafaf;
}

.formContainer .formWrapper form input::placeholder {
  color: #afafaf;
}

.formContainer .formWrapper form button {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.formContainer .formWrapper form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #5d5b8d;
  cursor: pointer;
}

.formContainer .formWrapper form label img {
  width: 32px;
}

.formContainer .formWrapper p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 5px;
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .container {
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.home .container .Sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #3e3c61;
}

.home .container .Sidebar .search {
  border-bottom: 2px solid gray;
}

.home .container .Sidebar .search .searchForm input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.home .container .Sidebar .search .searchForm input::-webkit-input-placeholder {
  color: lightgray;
}

.home .container .Sidebar .search .searchForm input:-ms-input-placeholder {
  color: lightgray;
}

.home .container .Sidebar .search .searchForm input::-ms-input-placeholder {
  color: lightgray;
}

.home .container .Sidebar .search .searchForm input::placeholder {
  color: lightgray;
}

.home .container .Sidebar .userChat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  color: white;
}

.home .container .Sidebar .userChat:hover {
  background-color: #2f2d52;
}

.home .container .Sidebar .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .container .Sidebar .userChat .userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.home .container .Sidebar .userChat .userChatInfo p {
  font-size: 14px;
  color: lightgray;
}

.home .container .Chat {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.home .container .Chat .chatInfo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #5d5b8d;
  padding: 10px;
  color: lightgray;
}

.home .container .Chat .chatIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.home .container .Chat .chatIcons img {
  height: 24px;
  cursor: pointer;
}

.home .container .Chat .messages {
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
}

.home .container .Chat .input {
  background-color: white;
  height: 50px;
  padding: 10px;
}

.home .container .Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f2d52;
  height: 50px;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ddddf7;
}

.home .container .Navbar .logo {
  font-weight: bold;
}

.home .container .Navbar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.home .container .Navbar .user img {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .container .Navbar .user button {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */